
.main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}
/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, black 30%, #800000 50%, black 100%);
    ;
}
/* Cabeçalho */
.header {
    background-color: #000000;
    color: #ffffff;
    padding: 1rem 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}


.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav li {
    margin: 0 10px;
}

.nav a {
    color: #fff;
    text-decoration: none;
}

.arcate {
    color: #ffffff;
    text-align: center;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    font: size 5 px;
    padding: 0.01rem 0;
}

.games {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 15px;
}

.grid {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.game-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
    width: calc(33.333% - 1rem);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.game-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.footer {
    background-color: #fffefe;
    color: #000000;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
    padding: 0.000001rem 0;
}